* {
    /* border: red solid 1px; */
    margin: 10px;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.setting-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.setting-forms h2 {
    width: 75%;
    text-align: center;
}


.picture-name img {
    height: auto;
    width: 100%;
    clip-path: circle();
}

#update-profile {
    display: none;
}

.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px gray solid;
    height: 100px;
    width: 100px;
    z-index: 3;
    overflow: hidden;
}

.profile-pic label {
    position: absolute;
    font-size: x-small;
    font-weight: bold;
    color:white;
    text-align: center;
    align-items: center;
    height: 30px;
    width: 100px;
    top: 100px;
    cursor: pointer;
}

#info-container{
    border-right: black 1px solid;
}

.picture-name {
    display: flex;
}

#name-top {
    text-align: left;
}

.personal-infomation {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.setting input {
    background-color: rgba(216, 215, 215, 0.898);
    width: 328px;
    height: 45px;
    border-radius: 5px;
    border: 1px;
    padding-left: 10px;
}


.update-goal {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.goal-form {
    display: flex;
    flex-direction: column;
}

.setting a {
    text-align: right;
}

#goal-h2 {
    width: 100%;
}

