/* * {
    border: 1px solid red;
} */

.my-activity {
    /* padding-top: 72px; */
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    background-color: #EFEFE9;
}

.my-activity .sidebar {
    width: 600px;
    background-color: #22345C;
    border-radius: 0 0rem 0rem 0;
    color : #EFEFE9
}

.my-activity .container {
    min-width: 60%
}

.my-activity .container h1 {
    text-align: left;
    width: 80%;
    margin: 3rem auto 1rem;
    color: #22345C
}